
<mat-card>
  <mat-card-title>Lista de Projetos</mat-card-title>
    <!-- Campo de Filtro -->
    <mat-form-field appearance="fill">
      <mat-label>Pesquisar por Nome</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar projeto">
    </mat-form-field>
  <mat-table [dataSource]="dataSource">
    <!-- Nome -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let projeto"> {{ projeto.nome }} </mat-cell>
    </ng-container>

    <!-- Descrição -->
    <ng-container matColumnDef="descricao">
      <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let projeto"> {{ projeto.descricao }} </mat-cell>
    </ng-container>

    <!-- Ação (Botão) -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
      <mat-cell *matCellDef="let projeto">
        <button mat-button (click)="openDetalhesDialog(projeto)">Detalhes</button>
      </mat-cell>
    </ng-container>

    <!-- Cabeçalhos -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>

<!-- Botão de menu no canto inferior direito -->
<button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>add</mat-icon>
  </button>
  
  <!-- Menu suspenso -->
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item (click)="optionClicked(1)">Gastos</button>
    <button mat-menu-item (click)="optionClicked(3)">Option 3</button> -->
    <button mat-menu-item (click)="openOptions(1)">Add Projeto</button>
</mat-menu>